@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: rgb(75, 73, 73);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 650px;
  height: 580px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 30px;
  border: none;
}

h2 {
  font-size: 20px;
  color: #fff;
  margin-top: -50px;
}

input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

::placeholder {
  font-size: 15px;
}

button {
  width: 270px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}

button:hover {
  border: 3px solid red;
  cursor: pointer;
}

p {
  color: #fff;
  font-size: 20px;
}

span {
  font-size: 30px;
  color: yellow;
}
